<%= form_with(model: album, local: true) do |form| %>
<% if album.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

    <ul>
        <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row ">
  <div class="col-md-6 offset-md-3">

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :discription, class: 'form-control' %>
    </div>

    <div class="form-group mb-4">

            <%= form.label :images %>
            <%= form.file_field :images, multiple: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :tag_list %>
      <%= form.text_field :tag_list, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.check_box :publish %>
      <%= form.label :publish, "Private" %>
    </div>

    <%= form.submit %>


  </div>


</div>
  <%= link_to 'Back', albums_path, class: 'btn btn-primary' %>

<% end %>
