<div class="jumbotron mt-4">
  <h1 class="h1 text-center">My Albums</h1>
  <p class="text-muted text-center">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  <center><button type="button" class="btn btn-primary">Read more</button>
  <button type="button" class="btn btn-secondary">About</button></center>
</div>
<%= search_form_for @search do |f| %>
<div class="d-flex flex-row mb-5 mt-5">
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :title_cont , "Title:", class: "mr-2 mt-1"%>
  <%= f.text_field :title_cont, class: "form-control"  %>
</div>
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :discription_cont , "Description:", class: "mr-2 mt-1"%>
  <%= f.text_field :discription_cont, class: "form-control"  %>
</div>
<div class="actions ">
   <%= f.submit "Search", class: "btn btn-primary"%>
</div>

</div>
<%end%>
<% if current_user.admin? %>





<div class="row ">
<% @albums.each do |album| %>
  <div class="card col-md-4 mb-2 pl-5 pr-5 pt-5 pb-3" >
     <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/proxy/pPkyH0q-OyPDwNlhjz15_CEKBpk3VzI9qnzD0uGkv6xuFLaKJsKjC2PBj1QYBrXw5j6UVqLU1y3oi5cir4a21zgzqaGk2dYs1Jy3DSeP" alt="Card image cap">
    <div class="card-body ">
      <p><strong>User: </strong><%= album.user.email %></p>
      <p><strong>Title: </strong><%= album.title %></p>
      <p><strong>Description: </strong><%= album.discription %></p>
      <p ><strong>Published On: </strong><span class="text-muted"><%= album.created_at.to_s.split(' ')[0] %></span></p>
      <p><strong>Last Updated: </strong><span class="text-muted"><%= album.updated_at.to_s.split(' ')[0] %></span></p>

      <%= link_to 'Show', album, class:'btn btn-success btn-sm' %>
      <%= link_to 'Edit', edit_album_path(album), class:'btn btn-secondary btn-sm' %>
      <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %>

    </div>
  </div>

<% end %>
</div>
<%= paginate @albums %>


<% else %>
<div class="row ">
<% @albums.each do |album| %>
  <div class="card col-md-4 mb-2 pl-5 pr-5 pt-5 pb-3" >
     <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/proxy/pPkyH0q-OyPDwNlhjz15_CEKBpk3VzI9qnzD0uGkv6xuFLaKJsKjC2PBj1QYBrXw5j6UVqLU1y3oi5cir4a21zgzqaGk2dYs1Jy3DSeP" alt="Card image cap">
    <div class="card-body ">

      <p><strong>Title: </strong><%= album.title %></p>
      <p><strong>Discriprion: </strong><%= album.discription %></p>
      <%= form_with(model: album, local: true) do |form| %>
      <div class="field">
        <%= form.check_box :publish %>
        <%= form.label :publish, "Private" %>
        <% end %>
      </div>
      <%= link_to 'Show', album, class:'btn btn-success btn-sm' %>
      <%= link_to 'Edit', edit_album_path(album), class:'btn btn-secondary btn-sm' %>
      <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %>

    </div>
  </div>

<% end %>
</div>
<%= paginate @albums %>





<%end %>
