
<% var = current_user.admin %>
<% if var== true %>

    <h1 class="mb-4 mt-5"> My Albums</h1>



<%= search_form_for @search do |f| %>
<div class="d-flex flex-row">
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :title_cont , "Title:", class: "mr-2 mt-1"%>
  <%= f.text_field :title_cont, class: "form-control"  %>
</div>
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :discription_cont , "Discription:", class: "mr-2 mt-1"%>
  <%= f.text_field :discription_cont, class: "form-control"  %>
</div>
<div class="actions ">
   <%= f.submit "Search", class: "btn btn-primary"%>
</div>

</div>
<%end%>
<table class="table table-striped text-center ">
    <thead class="bg-info text-white">
        <tr>
            <th>Email.Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created on</th>
            <th>Updated on</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Destroy</th>

        </tr>
    </thead>

    <tbody class="mb-1 bg-light">
        <% @albums.each do |album| %>
        <tr>
            <td><%= album.user.email %></td>
            <td><%= album.title %></td>
            <td><%= album.discription %></td>
            <td><%= album.created_at.to_s.split(' ')[0] %></td>
            <td><%= album.updated_at.to_s.split(' ')[0] %></td>
            <td><%= link_to 'Show', album, class:'btn btn-success btn-sm' %></td>
            <td><%= link_to 'Edit', edit_album_path(album), class:'btn btn-secondary btn-sm' %></td>
            <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>


          </tr>
        <% end %>
    </tbody>
</table>




<% else %>
<h1 class="mb-4 mt-5"> My Albums</h1>

<%= search_form_for @search do |f| %>
<div class="d-flex flex-row">
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :title_cont , "Title:", class: "mr-2 mt-1"%>
  <%= f.text_field :title_cont, class: "form-control"  %>
</div>
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :discription_cont , "Discription:", class: "mr-2 mt-1"%>
  <%= f.text_field :discription_cont, class: "form-control"  %>
</div>
<div class="actions ">
   <%= f.submit "Search", class: "btn btn-primary"%>
</div>

</div>
<%end%>

<table class="table table-striped text-center ">
<thead class="bg-info text-white">
    <tr>

        <th>Title</th>
        <th>Description</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>

    </tr>
</thead>

<tbody class="mb-1 bg-light">
    <% @albums.each do |album| %>
    <tr>

        <td><%= album.title %></td>
        <td><%= album.discription %></td>
        <td><%= link_to 'Show', album, class:'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Edit', edit_album_path(album), class:'btn btn-secondary btn-sm' %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>


      </tr>
    <% end %>
</tbody>
</table>

<%= paginate @albums%>

<%end %>
