<h1 class="mb-4 mt-5"> Recent Albums</h1>
<%= search_form_for @search do |f| %>
<div class="d-flex flex-row">
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :title_cont , "Title:", class: "mr-2 mt-1"%>
  <%= f.text_field :title_cont, class: "form-control"  %>
</div>
<div class="field form-group mr-2 d-flex flex-row">
  <%= f.label :discription_cont , "Discription:", class: "mr-2 mt-1"%>
  <%= f.text_field :discription_cont, class: "form-control"  %>
</div>
<div class="actions ">
   <%= f.submit "Search", class: "btn btn-primary"%>
</div>

</div>
<%end%>


      <!----  Email.Id
        Title
        Description
        Created on
        Updated on
        Show ------>


    <div class="row">
    <% @albums.each do |album| %>
      <div class="card col-md-3" >

        <div class="card-body ">
          <p><strong>User: </strong><%= album.user.email %></p>
          <p><strong>Title: </strong><%= album.title %></p>
          <p ><strong>Published On: </strong><span class="text-muted"><%= album.created_at.to_s.split(' ')[0] %></span></p>
          <p><strong>Last Updated: </strong><span class="text-muted"><%= album.updated_at.to_s.split(' ')[0] %></span></p>
          <%= link_to 'Show', album, class:'btn btn-success btn-sm' %>
        </div>
      </div>

    <% end %>
    </div>
