
  <div class="jumbotron mt-4">
    <h1 class="h1 text-center">Album Example</h1>
    <p class="text-muted text-center">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <center><button type="button" class="btn btn-primary">Read more</button>
    <button type="button" class="btn btn-secondary">About</button></center>
  </div>
    <div class="row ">
    <% @albums.each do |album| %>
    <% unless album.publish? %>
      <div class="card col-md-4 mb-2 pl-5 pr-5 pt-5 pb-2  " >
         <img class="card-img-top img-fluid" src="https://cdn.wallpapersafari.com/30/51/YmvlFg.jpg" alt="Card image cap">
        <div class="card-body ">
          <p><strong>User: </strong><%= album.user.email %></p>
          <p><strong>Title: </strong><%= album.title %></p>
          <p ><strong>Published On: </strong><span class="text-muted"><%= album.created_at.to_s.split(' ')[0] %></span></p>
          <p><strong>Last Updated: </strong><span class="text-muted"><%= album.updated_at.to_s.split(' ')[0] %></span></p>
          <%= link_to 'Show', album, class:'btn btn-success btn-sm' %>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
    <%= paginate @albums %>
